* {
  box-sizing: border-box;
}

.main-background {
background-image: url(./server/public/images/afternoon-bg.png);
background-size: cover;
background-repeat: no-repeat;
position: relative;
width: 375px;
height: 667px;
margin-left: 30rem;
margin-top: 2rem;
}


@font-face {
  font-family: 'Pokemon';
  src: url(./server/public/assets/fonts/PKMN_RBYGSC.ttf);
  font-weight: normal;
  font-style: normal;
}

.press-start {
font-family: "Pokemon";
position: absolute;
width: 167px;
height: 18px;
left: 37.5rem;
top: 20.84375rem;
}

.ash-sprite {
position: absolute;
width: 57.13px;
height: 70.62px;
left: 41rem;
top: 35rem;
}


.pokefit-logo {
position: absolute;
width: 271px;
height: 114px;
left: 17rem;
top: 4.25rem;
}
